<div class="page">
    <h1 class="page__titul">Авторизация</h1>

    <form class="form" novalidate [formGroup]="authForm">
        <div class="form__error" *ngIf="!isValuesCorrect">Логин или пароль введены неверно</div>
        <div class="form__item">
            <input type="text" class="form__item-inp" placeholder="Ваш логин" formControlName = "login">
            <div class="form__item-errors" *ngIf="login.errors && (login.touched || login.dirty)">
                <span class="error" *ngIf="login.errors['required']">Поле обязательно для заполнения</span>
                <span class="error" *ngIf="login.errors['minlength']">Минимальная длина {{ login.errors['minlength'].requiredLength }} символа</span>
                <span class="error" *ngIf="login.errors['maxlength']">Максимальная длина {{ login.errors['maxlength'].requiredLength }} символов</span>
            </div>
        </div>

        <div class="form__item">
            <input type="password" class="form__item-inp" placeholder="Ваш пароль" formControlName = "password">
            <div class="form__item-errors" *ngIf="password.errors && (password.touched || password.dirty)">
                <span class="error" *ngIf="password.errors['required']">Поле обязательно для заполнения</span>
                <span class="error" *ngIf="password.errors['minlength']">Минимальная длина {{ password.errors['minlength'].requiredLength }} символов</span>
            </div>
        </div>
        
        <div class="form__submit" (click)="authorization()">Войти</div>

    </form>
</div>


