.form{
    position: relative;
    margin: 0 auto;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(230, 245, 245, 0);
    padding: 40px 25px;
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.4);
    flex-direction: column;

    &__error{
        color: red;
        font-style: italic;
        font-size: 15px;
        margin-bottom: 15px;
    }

    &__item{
        margin-bottom: 35px;

        &-inp{
            padding-left: 15px;
            height: 30px;
            font-size: 25px;
            border: 1px solid lightgrey;
            outline:  none;
        }

        &-errors{
            display: flex;
            flex-direction: column;
            color: red;
            font-size: 15px;
            font-style: italic;
        }

        
    }
    
    &__submit{
        padding: 10px 50px;
        background-color: #4a76f8;
        color: white;
        cursor: pointer;
        user-select: none;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
        transition: .3s;
        font-weight: bold;

        &:hover{
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.0);
        }
    }
}