.rate-item{
    display: flex;
    height: 45px;
    position: relative;
    
    &__name{
        height: 100%;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 15px;
        background-color: rgb(78, 165, 165);
        border: 1px solid rgb(70, 70, 78);
        cursor: pointer;
        z-index: 1;
    }

    &__radio{
        display: none;
    }

    &__radio:checked+.rate-item__add{
        left: 250px;
        opacity: 1;
    }

    &__add{
        position: absolute;
        z-index: 0;
        background-color: rgb(96, 170, 243);
        border: 1px solid rgb(102, 72, 236);
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 15px;
        height: 100%;
        width: 200px;
        opacity: 0;
        top: 0px;
        left: 0px;
        transition: .3s;

        &-inp{
            height: 31px;
            width: 90px;
            border: 1px solid gray;
            font-size: 27px;
            padding-left: 10px;
            outline: none;
        }

        &-btn{
            height: 35px;
            outline: none;
            width: 50px;
        }
    }

    
}