<label class="rate-item">
    <div class="rate-item__name">
        {{item.name}}<i class="fas fa-angle-double-right"></i>
    </div>

    <input #rateRadio type="radio" name="rate" class="rate-item__radio" id="">

    <div class="rate-item__add">
        <input type="text" class="rate-item__add-inp" [(ngModel)]="item.price">
        <button class="rate-item__add-btn" (click)="onPriceSave()">OK</button>
    </div>

</label>