.rates-table{
    border: 1px solid grey;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    justify-content: center;
    align-items: center;

    &__titul{
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .table{
        border: 1px solid grey;
        border-spacing: 0;
        width: 350px;

        td{
            border: 1px solid grey;
            text-align: right;

        }
        &__header{
            border: 2px solid gray;
            background-color: lightgrey;

            td {
                border: 2px solid gray;
                text-align: center;
            }

        }
    }



}