<div class="rates-table">
    <span class="rates-table__titul">{{ tableItems.date | monthPipe }}</span>
        <table class="table">
            <tr class ="table__header">
                <td>Дата</td>
                <td>Название</td>
                <td>Сумма</td>
            </tr>

            <tr *ngFor="let item of tableItems.items">
                    <td>{{item.date | dateTimePipe}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>

            </tr>

        </table>
</div>
<table class=""></table>