
<div class="page">
    <h1 class="page__titul">Расходы</h1>
    <div class="content">
        <div class="rate-list">
            <app-rate-item *ngFor="let rate of rateItems" [item]="rate" (payConfirm)="onPayConfirm($event)"></app-rate-item>
        </div>
        <app-rates-table *ngIf="isHaveRates" [tableItems]="rates"></app-rates-table>
    </div>
</div>